<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Display</title>
</head>
<body>
    <h1>Welcome {{ user['fullName'] }}</h1>
    <h2>Quotes</h2>
    <ul>
        {% for quote in user.quotes %}
            <li>"{{ quote['text'] }}" - {{ quote['said_by'] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('signout') }}"><button>Logout</button></a>
    <a href="{{ url_for('home') }}"><button>home</button></a>
</body>
</html>
