<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
	
	<h2>Write a quote: </h2>
    <form method="POST" action="/home"> 
        <input type="text" name="quote" placeholder="">
        <input type="submit" value="Submit"><br>
    </form>
    <a href="/signout"><button>Signout</button></a>
</body>
</html>
