<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>SignUp</title>

</head>
<body>
	<h2>Sign up!</h2>
    <form method="POST" action="/">
        <input type="email" name="mail" placeholder="Email" required><br>
        <input type="password" name="pass" placeholder="Password" required><br>
        <input type="submit" value="Sign Up">
    </form>
    <center><p>Already have an account?</p></center>
    <a href="/signin"><button>Sign In</button></a>
</body>
</html>
