<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>error</title>
</head>
<body>
		<!-- sidebar -->
	<div class="hamburger" onclick="toggleSidebar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div id="sidebar" class="sidebar">
  	<br>
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/signout">sign out</a>
  </div>

  <script>
  	function toggleSidebar() {
  document.getElementById("sidebar").classList.toggle("active");
  document.body.classList.toggle("active");
}
  </script>
	<!-- sidebar -->

	<h3>authentication failed, try again!</h3>
	<a href="/login"><button>log In</button></a>
</body>
</html>